html, body{
	height:100%;
}
section{
  border-style: groove;
}

#buttons{
	text-align: center;	
	
	
}

#recordHeader{
	text-align: center;
}

#time{
	padding-left: 5em;
}

#temperature{
	padding-left: 1em;
}

#records_chart{
	margin-left: auto;
	margin-right: auto;
	height:80%;
	width:80%;
}
#roomsContainer{
	height: 75%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
#topContainer{
	width:95%;
	clear:both;
	margin-right: auto;
	margin-left: auto;
}
#middleContainer{
	width:95%;
	clear:both;
	margin-right: auto;
	margin-left: auto;
}
.room{
	height: 25%;
	float:left;
	width:45%;
}

#external{
	clear: both;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.alert-danger{
	color: red;
}